<!-- <ul class="list-group" >
    <li (click)="setCurrentCategory(category)" 
    *ngFor="let category of categories" [class]="getCurrentCategoryClass(category)">{{category.categoryName}}</li>
  </ul>
  <h5 *ngIf="currentCategory">{{currentCategory.categoryName}} seçtiniz</h5>

  
<div class="btn-group dropend">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Dropright
  </button>
  <ul class="dropdown-menu">
  </ul>
</div> -->